<!-- 扫描工作站和Pick_Pack车条码 -->
<div class="outCenter" ng-show="pickPackOperate==='scanStation'||pickPackOperate==='scanPickPackCar'">
    <div class="titleContent">
        <span ng-show="pickPackOperate==='scanStation'">请扫描工作站条码</span>
        <span ng-show="pickPackOperate==='scanPickPackCar'">请扫描Pick_Pack车条码</span>
    </div>
    <div style="height: 100px;width:400px;margin-top: 80px;margin-left:100px;">
        <img src="../../../../image/20161123145423.png" style="width: 50%;height: 50%;">
    </div>
    <div style="text-align:center;">
        <input id="pickPack_station" ng-show="pickPackOperate==='scanStation'" type="text" class="inputHeight k-textbox"
               style="opacity: 1"
               ng-keydown="scanStation($event)"
               ng-model="pickPackStationName"/>
        <input id="pickPack_pickPackCar" ng-show="pickPackOperate==='scanPickPackCar'" type="text" style="opacity: 1"
               class="inputHeight k-textbox" ng-keydown="scanPickPackCar($event)"
               ng-model="pickPackCarNo"/>
    </div>
</div>

<!--Pick Pack Wall主页面-->
<div id="pickToPack_parent" ng-show="pickPackMain==='pickPackMain'" style="width:100%;height:100%;">
    <!-- main -->
    <div style="margin:20px;" class="outCenterTwo">
        <!--扫描货筐 与工作站进行绑定-->
        <div>
            <div style="position:absolute;font-size:18px;">
                <span translate="RE_BIN_CURRENT_OPERATE"></span>
                <input ng-show="basketOperate==='scanCanPinBasket'" id="canPinBasketId" type="text" class="k-textbox"
                       style="opacity: 1" ng-keydown="scanCanPinBasket($event)" ng-trim="true" ng-model="canPinBasket"/>
                <input ng-show="basketOperate==='unScanSKUBasket'" id="unScanSKUBasketId" type="text" class="k-textbox"
                       style="opacity: 1" ng-keydown="scanUnScanSKUBasket($event)" ng-trim="true"
                       ng-model="unScanSKUBasket"/>
                <input ng-show="basketOperate==='toReserachBasket'" id="toReserachBasketId" type="text"
                       class="k-textbox" style="opacity: 1" ng-keydown="scanToReserachBasket($event)" ng-trim="true"
                       ng-model="toReserachBasket"/>
                <input ng-show="basketOperate==='pod'" id="podId" type="text" class="k-textbox" style="opacity: 1"
                       ng-keydown="scanPod($event)" ng-trim="true" ng-model="podNo"/>
                <input ng-show="basketOperate==='sku'" id="skuId" type="text" class="k-textbox" style="opacity: 1"
                       ng-keydown="scanSKU($event)" ng-trim="true" ng-model="itemNo"/>
                <input ng-show="basketOperate==='putSKU'" id="putSKUId" type="text" class="k-textbox" style="opacity: 1"
                       ng-keydown="scanputSKU($event)" ng-trim="true" ng-model="skuLightNo"/>
                <input ng-show="basketOperate==='skuDamaged'" id="skuDamagedId" type="text" class="k-textbox" style="opacity: 1"
                       ng-keydown="scanskuDamaged($event)" ng-trim="true" ng-model="skuDamagedNo"/>
            </div>
            <div style="text-align:center;font-weight:600;font-size: 22px">
                {{windowMessage}}
            </div>
        </div>
        <!-- vertical ng-style="{height: (rebinEnd) ? '30%' : false}"-->
        <div class="verticalBox" style="margin-top:10px;">
            <!-- pod -->
            <div style="float:left;width:27%;height:100%;font-weight:600;background:#f2f2f2;">
                <div class="pod">Pod</div>
                <div class="podContainerBox" style="border: 10px solid #f2f2f2;">
                    <div id="podheight" class="podContainer" style="width:100%;background:white;text-align: center;position: relative">
                        <div style="height:{{heightPod}}px;margin-top: 10px;" ng-repeat="row in  podRows">
                            <div style="width: 100%;height:100% ;display: flex; ">
                                <div style="background:{{row.color}};width:{{(100-1*(5+1))/5}}%; margin-left: 10px;height:100%"
                                     ng-repeat="column in row.item">
                                    <div ng-show="column.choice" class="podChoiceClass">{{column.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- middle container -->
            <div class="podContainerBox" style="float:left;width:41%;background:#FFFFFF;font-weight:600;text-align: center;margin-right: 4px;margin-left: 4px;">
                <div class="sku">{{'SKU_INFO' | translate}}</div>
                <div style="height:50%;background:#f2f2f2;border: 1px solid #D9D9D9;margin-bottom: 2px;">
                    <div style="height: 60%;width:100%;margin-top: 3%;align:center"><img
                            src="../../../../image/20161022134004.png" style="width: 30%;height: 100%"></div><!---->
                    <div style="height: 30%;width: 100%;">
                        <div style="font-size: 18px;text-align: left;padding-left: 10px;height: 30%">
                            {{skuNo}}
                        </div>
                        <div style="font-size: 18px;text-align: left;padding-left: 10px;height: 67%;margin-top: 1%;">
                            {{skuName}}
                        </div>
                    </div>
                </div>
                <div class="sku">{{'PICK_NO' | translate}}</div>
                <div style="height:45.5%;background:#FFFFFF;border: 1px solid #D9D9D9;margin-bottom: 3px;">
                    <div ng-show="skuOperate==='skuNo'" style="width: 100%;height: 100%">
                        <div style="height:70%;background:#f2f2f2;border: 1px solid #D9D9D9;margin-bottom: 5px;">
                            <!--需要取得商品数量-->
                            <div style="width: 100%;height: 100%;font-size: 150px;font-weight: 900;">{{pickNo}}</div>
                        </div>
                        <!--非正品筐-->
                        <div style="height: 22%;">
                            <div id="canPinId" class="basket" style=" margin-left: 2.3%;"></div>
                            <div id="unScanId" class="basket" style=" margin-left: 2.3%;" ></div>
                            <div id="toReserachId" class="basket" style=" margin-left: 2.3%;"></div>
                        </div>
                    </div>
                    <div ng-show="skuOperate==='skuNoInput'" style="width: 100%;height: 100%">
                        <div style="width:100%;background:white;position: relative">
                            <table class="pickGoodsAmountInputTable">
                                <tbody>
                                <tr class="tr2">
                                    <td ng-repeat="x in [1,2,3,4,5]" ng-click="bind(x)" ng-style="{color:(amount<x)? '#D9D9D9':'black'}">{{x}}</td>
                                </tr>
                                <tr class="tr2">
                                    <td ng-repeat="x in [6,7,8,9]" ng-click="bind(x)" ng-style="{color:(amount<x)? '#D9D9D9':'black'}">{{x}}</td>
                                    <td ng-click="bind(0)">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="width: 100%;height: 25%">
                            <input type="text" class="pickNoInput" id="pickNoInput" ng-model="pickNoInput"><br/>
                            <kendo-button class="pickPackNoButton k-primary" ng-click="confirmPick()">{{'SURE' | translate }}</kendo-button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pick-Pack Wall -->
            <div style="float:left;width:31%;height:100%;background:#f2f2f2;font-weight:600;text-align: center">
                <div class="pod">Pick-Pack Wall</div>
                <div class="podContainerBox" style="border: 10px solid #f2f2f2;">
                    <div id="wallHeight" class="podContainer" style="width:100%;background:white;text-align: center;position: relative">
                        <!--左侧格子-->
                        <div  style="float:left;width:{{(numberOfColumns1/pickPackWallWidth)*100}}%;height:100% ;"><!--width: 40%;-->
                            <div style="height:{{cellHeight1}}px;margin-top: 10px;" ng-repeat="row in pickPackWall1Rows">
                                <div style="width: 100%;height:100% ;display: flex; ">
                                    <div style="background:{{row.color}};width:{{(100-1*(numberOfColumns1+1))/numberOfColumns1}}%; margin-left:10px;height:100%"
                                         ng-repeat="column in row.item">
                                        <div ng-show="column.choice" class="pickPackWallChoiceClass">{{column.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--中间格子-->
                        <div style="float:left;width:{{(numberOfColumns2/pickPackWallWidth)*100}}%;height:100% ;"><!--width: 39%;-->
                            <div style="height: {{cellHeight2}}px;margin-top: 10px;"
                                 ng-repeat="row in pickPackWall2Rows">
                                <div style="width: 100%;height:100% ;display: flex; ">
                                    <div style="background:{{row.color}};width:{{(100-1*(numberOfColumns2+1))/numberOfColumns2}}%; margin-left:10px;height:100%"
                                         ng-repeat="column in row.item">
                                        <div ng-show="column.choice" class="pickPackWallChoiceClass">{{column.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--右边格子-->
                        <div style="float:left;width:{{(numberOfColumns3/pickPackWallWidth)*100}}%;height:100% ;"><!--width: 20%-->
                            <div style="height:{{cellHeight3}}px;margin-top: 10px;"
                                 ng-repeat="row in pickPackWall3Rows">
                                <div style="width: 100%;height:100% ;display: flex;">
                                    <div style="background:{{row.color}};width:{{(100-1*(numberOfColumns3+1))/numberOfColumns3}}%; margin-left:10px;height:100%"
                                         ng-repeat="column in row.item">
                                        <div ng-show="column.choice" class="pickPackWallChoiceClass">{{column.name}}
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--问题处理和商品残损按钮事件-->
        <div style="height:9%;background:#DEEBF7; margin-top:10px;">
            <div style="float:right;margin-right: 10px;">
                <span class="pickFont" hidden="hidden"><kendo-button class="pickPackButton k-primary" ng-click="">{{'POSITION_EMPTY' | translate }}</kendo-button></span>
                <span class="pickFont" style="margin-left:30px;"><kendo-button class="pickPackButton k-primary"
                                                                               ng-click="problemShow()">{{'PROBLEN' | translate }}</kendo-button></span>
                <span class="pickFont" style="margin-left:30px;"><kendo-button class="pickPackButton k-primary"
                                                                               ng-click="skuDamaged()">{{'SKU_DAMAGED'| translate }}</kendo-button></span>
            </div>
        </div>
        <!--请确认是否使用当前残品货筐-->
        <div kendo-window="canPinWindows" id="canPinBakId" k-title="'请确认是否使用当前货筐'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:50px;">
                <span>货筐号码：<span style="font-weight: 600">{{canPinBasket}}</span>,里有<span>{{skuNo}}</span>商品，请重新确认是否继续使用当前货筐进行收货</span>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary ReceiptBut" ng-click="continueCanPin()">{{'SURE' | translate }}
                </kendo-button>
                <kendo-button style="margin-left: 10%;" class="k-primary ReceiptBut" ng-click="cancel()">{{'CANCEL' |
                    translate }}
                </kendo-button>
            </div>
        </div>
        <!--请确认是否使用当前无法扫描商品货筐-->
        <div kendo-window="unScanWindows" id="unScanBakId" k-title="'请确认是否使用当前货筐'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:50px;">
                <span>货筐号码：<span style="font-weight: 600">{{unScanBasket}}</span>,里有<span>{{unScanSkuNo}}</span>商品，请重新确认是否继续使用当前货筐进行收货</span>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary ReceiptBut" ng-click="continueUnScan()">{{'SURE' | translate }}
                </kendo-button>
                <kendo-button style="margin-left: 10%;" class="k-primary ReceiptBut" ng-click="unScanclose()">{{'CANCEL'
                    |
                    translate }}
                </kendo-button>
            </div>
        </div>
        <!--请确认是否使用当前待调查商品货筐-->
        <div kendo-window="reserachWindows" id="reserachId" k-title="'请确认是否使用当前货筐'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:50px;">
                <span>货筐号码：<span style="font-weight: 600">{{toReserachBasket}}</span>,里有<span>{{toReserachSkuNo}}</span>商品，请重新确认是否继续使用当前货筐进行收货</span>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary ReceiptBut" ng-click="continueToReserach()">{{'SURE' | translate }}
                </kendo-button>
                <kendo-button style="margin-left: 10%;" class="k-primary ReceiptBut" ng-click="toReserachclose()">
                    {{'CANCEL'
                    | translate }}
                </kendo-button>
            </div>
        </div>
        <!--重新扫描残品货筐-->
        <div kendo-window="reScanCanPinWindows" id="recanPinBakId" k-title="'请重新扫描残品货筐'" k-visible="false"
             k-modal="true">
            <div ng-show="reScanCanPinOperate==='yiBangDing'" style="text-align:center;font-size:20px;margin-top:20px;">
                <span>货筐号码：<span style="font-weight: 600">{{canPinBasketNo}}</span>,被工作站<span>{{stationName}}</span>绑定，请重新扫描残品货筐</span>
            </div>
            <div ng-show="reScanCanPinOperate==='wuXiao'" style="text-align:center;font-size:20px;margin-top:20px;">
                <span>货筐号码：<span style="font-weight: 600">{{canPinBasketNo}}</span>,并不是一个有效的残品货筐，请重新扫描</span>
            </div>
            <div style="text-align: center;margin-top: 40px;"><img src="../../../../image/20161123145423.png" style="width: 40%;height: 60px;"></div>
            <div style="text-align: center;"><input id="recanPinBasketId" type="text" class="k-textbox"
                                                    style="opacity: 1" ng-keydown="scanCanPinBasket($event)" ng-trim="true" ng-model="canPinBasket"/></div>
        </div>
        <!--重新扫描无法扫描商品货筐-->
        <div kendo-window="reUnScanWindows" id="reUnScanBakId" k-title="'请重新扫描无法扫描商品货筐'" k-visible="false"
             k-modal="true">
            <div ng-show="reUnScanOperate==='yiBangDing'" style="text-align:center;font-size:20px;margin-top:20px;">
                <span>货筐号码：<span style="font-weight: 600">{{unScanSKUBasketNo}}</span>,被工作站<span>{{stationName}}</span>绑定，请重新扫描无法扫描商品货筐</span>
            </div>
            <div ng-show="reUnScanOperate==='wuXiao'" style="text-align:center;font-size:20px;margin-top:20px;">
                <span>货筐号码：<span style="font-weight: 600">{{unScanSKUBasketNo}}</span>,并不是一个有效的无法扫描商品货筐，请重新扫描</span>
            </div>
            <div style="text-align: center;margin-top: 40px;"><img src="../../../../image/20161123145423.png" style="width: 40%;height: 60px;"></div>
            <div style="text-align: center;"><input id="reunScanSKUBasketId" type="text" class="k-textbox" style="opacity: 1" ng-keydown="scanUnScanSKUBasket($event)" ng-trim="true"
                                                    ng-model="unScanSKUBasket"/></div>
        </div>
        <!--重新扫描待调查商品货筐-->
        <div kendo-window="toReserachWindows" id="toReserachBakId" k-title="'请重新扫描待调查商品货筐'" k-visible="false"
             k-modal="true">
            <div ng-show="toReserachOperate==='yiBangDing'" style="text-align:center;font-size:20px;margin-top:20px;">
                <span>货筐号码：<span style="font-weight: 600">{{toReserachBasketNo}}</span>,被工作站<span>{{stationName}}</span>绑定，请重新扫描待调查商品货筐</span>
            </div>
            <div ng-show="toReserachOperate==='wuXiao'" style="text-align:center;font-size:20px;margin-top:20px;">
                <span>货筐号码：<span style="font-weight: 600">{{toReserachBasketNo}}</span>,并不是一个有效的待调查商品货筐，请重新扫描</span>
            </div>
            <div style="text-align: center;margin-top: 40px;"><img src="../../../../image/20161123145423.png" style="width: 40%;height: 60px;"></div>
            <div style="text-align: center;"><input id="retoReserachBasketId" type="text"
                                                    class="k-textbox" style="opacity: 1" ng-keydown="scanToReserachBasket($event)" ng-trim="true"
                                                    ng-model="toReserachBasket"/></div>
        </div>
        <!--暗灯触发错误-->
        <div kendo-window="lightWindows" id="lightkId" k-title="'暗灯触发错误'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:50px;">
                <span style="font-weight: 600">暗灯触发错误，请重新触发暗灯</span>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary ReceiptBut" ng-click="lightWindows.close()">{{'CANCEL' | translate }}
                </kendo-button>
            </div>
        </div>
        <!--问题处理窗口-->
        <div kendo-window="qusetionWindows" id="qusetionMenuId" k-title="'请选择问题菜单'" k-visible="false" k-modal="true">
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary questionBut" ng-click="skuMiss()">1.{{'SKU_MISS' | translate }}</kendo-button>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary questionBut" ng-click="canNotScan()">2.{{'SKU_UNSCAN' | translate }}</kendo-button>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary questionBut" ng-click="unitLoadFull()">3.{{'BASKET_FULL' | translate }}</kendo-button>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary questionBut" ng-click="infoCheck()">4.{{'INFO_CKECK' | translate }}</kendo-button>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary questionBut" ng-click="clickLight()">5.{{'CALL_LED' | translate }}</kendo-button>
            </div>
            <div style="text-align:center;width:100%">
                <kendo-button class="k-primary questionBut" ng-click="finishWork()">6.{{'FINISH_PICK' | translate }}</kendo-button>
            </div>
        </div>
        <!--选择暗灯菜单-->
        <div kendo-window="lightWindows" id="lightMenuId" k-title="'请选择暗灯菜单'" k-visible="false" k-modal="true">
            <div style="float:left;width:50%;text-align:center">
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" style="margin-top: 5px;" ng-click="damagedSkuInBin()">1.{{'STORAGE_EXIST_DAMAGED' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="canNotScanInBin()">2.{{'STORAGE_EXIST_UNSCAN' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="suitIncomplete()">3.{{'TAOZHUANG_DEMOLISHED' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="suitWrong()">4.{{'TAOZHUANG_ZUTAO_WRONG' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="similarSkuInSameBin()">5.{{'SIMILAR_SKU_IN_SAMW_LOCATION' | translate }}</kendo-button>
                </div>
            </div>
            <div style="float:left;width:50%;text-align:center">
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" style="margin-top: 5px;" ng-click="storageItemFull()">6.{{'FULL_SKU_IN_LOCATION' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="storageIsNotSafe()">7.{{'LOCATION_EXIST_DANGEROUS' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="storageNeedCheck()">8.{{'LOCATION_NEED_CHECK' | translate }}</kendo-button>
                </div>
                <div style="text-align:center;width:100%">
                    <kendo-button class="k-primary lightBut" ng-click="canNotScanBin()">9.{{'LOCATION_CANNOT_SCAN' | translate }}</kendo-button>
                </div>
            </div>
        </div>
        <!--扫描商品序列号-->
        <div kendo-window="seriesNoWindows" id="seriesNoId" k-title="'请扫描商品序列号'" k-visible="false" k-modal="true">
            <div style="float:left;text-align:left;font-size:20px;margin-top:10px;height:210px ;width: 70%">
                <div style="text-align: left;padding-left: 20px;">HUAWEI 华为 P9 3GB+32GB版 EVA-AL00 全网通4G手机(流光金){{skuDescription}}</div>
                <div style="text-align: center;margin-top: 10px;"><img src="../../../../image/20161123145423.png" style="width: 50%;height: 60px;"></div>
                <div style="text-align: center;"><input id="seriesNumberId" type="text" style="opacity: 0" class="inputHeight k-textbox" ng-keydown="scanSeriesNo($event)"
                            ng-model="seriesNo"/></div>
            </div>
            <div style="float:left;text-align:center;height:210px;width: 30%">
                <img src="../../../../image/20161022134004.png" style="width: 100%;height: 160px;margin-top: 30px">
            </div>
        </div>
        <!--序列号扫描错误，重新扫描商品序列号-->
        <div kendo-window="rescanSeriesNoWindows" id="newSeriesNoId" k-title="'请重新扫描商品序列号'" k-visible="false" k-modal="true">
            <div style="float:left;text-align:left;font-size:20px;margin-top:10px;height:210px ;width: 70%">
                <div style="text-align: left;padding-left: 20px;"><span style="font-weight: 600;font-size: 20px">{{seriesNo}}</span> 不是有效商品序列号，请重新扫描</div>
                <div style="text-align: left;padding-left: 20px;">商品：
                    <span style="font-weight: 600;font-size: 20px">{{wrongItem}}HUAWEI 华为 P9 3GB+32GB版 EVA-AL00 全网通4G手机(流光金)</span></div>
                <div style="text-align: center;margin-top: 10px;">
                    <input id="newSeriesNumberId" type="text" style="opacity: 0" class="inputHeight k-textbox" ng-keydown="scanNewSeriesNo($event)"
                           ng-model="newSeriesNo"/>
                    <img src="../../../../image/20161123145423.png" style="width: 50%;height: 60px;"></div>
                <div style="text-align: left;">如果均无法扫描，请按确认登记序列号无法扫描，并将商品放置到待调查货筐中</div>
                <div style="text-align:center;margin-left:200px;margin-top: 10px">
                    <kendo-button class="k-primary ReceiptBut" ng-click="">1{{'SURE' | translate }}
                    </kendo-button>
                    <kendo-button style="margin-left: 10%;" class="k-primary ReceiptBut" ng-click="">
                        2{{'CANCEL'
                        | translate }}
                    </kendo-button>
                </div>
            </div>
            <div style="float:left;text-align:center;height:210px;width: 30%">
                <img src="../../../../image/20161022134004.png" style="width: 100%;height: 160px;margin-top: 30px">
            </div>

        </div>
        <!--更换货筐弹窗-->
        <div kendo-window="changeBakWindows" id="changeBakId" k-title="'请更换货筐'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:20px;">
                <span style="font-weight: 300;text-align: left;margin-left: 10px">{{BasketFullMessaage}}</span>
            </div>
            <div style="text-align:center;width:100%;margin-top: 30px">
                <kendo-button class="k-primary fullBut" ng-click="BasketFull()">{{'BASKET_FULL' | translate }}
                </kendo-button>
            </div>
        </div>
        <!--扫描已满货筐弹窗-->
        <div kendo-window="scanFullWindows" id="scanFullId" k-title="'请扫描已满的货筐条码'" k-visible="false" k-modal="true">
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 600;">请扫描已满的货筐条码</div>
            <div style="height: 60px;width:500px;margin-top: 10px;margin-left:100px;text-align: center">
                <img src="../../../../image/20161123145423.png" style="width: 50%;height: 50%;"><br/>
                <input id="fullBasketId" type="text" style="opacity: 1" ng-keydown="scanfullBasket($event)" ng-trim="true" ng-model="fullBasket"/>
            </div>
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 600;">当前站台货筐信息：</div>
            <table align="center">
                <tr class="title">
                    <td>{{ 'POSITION_NO' | translate }}</td>
                    <td>{{ 'PICKCAR_NO' | translate }}</td>
                    <td>{{ 'SKU_COUNT' | translate }}</td>
                </tr>
                <tr class="content" ng-repeat="x in bakInfo">
                    <td>{{ x.PositionNo }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.sum }}</td>
                </tr>
            </table>
        </div>
        <!--请扫描新的货筐-->
        <div kendo-window="newbakWindows" id="newbakId"  k-visible="false" k-modal="true">
            <div style="float:left;text-align:left;font-size:20px;margin-top:10px;height:210px ;width: 100%">
                <div style="text-align: left;padding-left: 20px;">{{newBasketNo}}</div>
                <div style="text-align: center;"><input id="newbasketId" type="text" style="opacity: 1" class="inputHeight k-textbox" ng-keydown="scannewbasketNo($event)"
                                                        ng-model="newbasketNo"/></div>
            </div>
        </div>
        <!--扫描货位条码弹窗-->
        <div kendo-window="scanHuoWeiWindows" id="scanHuoWeiId" k-title="'请扫描货位条码'" k-visible="false" k-modal="true">
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 400;">当前需求拣货位置：<span style="font-weight: 600;font-size: 30px">c2{{column.name}}</span>，请扫描货位以确认。</div>
            <div style="height: 80px;margin-top: 30px;text-align: center">
                <img src="../../../../image/20161123145423.png" style="width: 200px;height: 50px;"><br/>
                <input id="huoWeiId" type="text" style="opacity: 0" ng-keydown="scanHuoWei($event)" ng-trim="true" ng-model="huoWei"/>
            </div>
            <div style="text-align:center;margin-top:30px;">
                <kendo-button class="k-primary receiptBut" style="height: 40px" ng-click="canNotScanBin()">{{'POD_UNSCAN' | translate }}
                </kendo-button>
            </div>
        </div>
        <!--请逐一扫描货位中所有商品-->
        <div kendo-window="scanEachSKUWindows" id="scanEachSKUId" k-title="'请逐一扫描货位中所有商品'" k-visible="false" k-modal="true">
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 400;">请逐一扫描<span style="font-weight: 600;font-size: 30px">c2{{column.name}}</span>
                货位中所有商品，以确认商品是否丢失，如果货位中商品数量为零，请直接点击<span style="font-weight: 600;font-size: 30px">货位为空</span>按钮，系统将自动把商品盘亏。
            </div>
            <div style="height: 80px;margin-top: 30px;text-align: center">
                <img src="../../../../image/20161123145423.png" style="width: 200px;height: 50px;"><br/>
                <input id="eachSKUId" type="text" style="opacity: 0" ng-keydown="scanEachSKU($event)" ng-trim="true" ng-model="eachSKUNo"/>
            </div>
            <div style="text-align:center;margin-top:30px;">
                <kendo-button class="k-primary receiptBut" style="height: 40px" ng-click="positionEmpry()">{{'POSITION_EMPTY' | translate }}
                </kendo-button>
            </div>
        </div>
        <!--请逐一扫描货位中所有商品,商品错误，继续扫描-->
        <div kendo-window="scanEverySKUWindows" id="scanEverySKUId" k-title="'请逐一扫描货位中所有商品'" k-visible="false" k-modal="true">
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 400;">商品条码错误：<span style="font-weight: 600;font-size: 30px">123456789{{eachSKUNo}}</span></div>
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 400;">请继续扫描，如果确定货位内商品已经扫描完毕，请点击
                <span style="font-weight: 600;font-size: 28px">“我已扫描完所有商品”</span>,系统将自动把商品盘亏。
            </div>
            <div style="height: 80px;margin-top: 30px;text-align: center">
                <img src="../../../../image/20161123145423.png" style="width: 200px;height: 50px;"><br/>
                <input id="everySKUId" type="text" style="opacity: 0" ng-keydown="scanEverySKU($event)" ng-trim="true" ng-model="everySKUNo"/>
            </div>
            <div style="text-align:center;margin-top:30px;">
                <kendo-button class="k-primary receiptBut" style="height: 40px" ng-click="haveScanedAllSKU()">{{'ALL_SKU_SCANED' | translate }}
                </kendo-button>
            </div>
        </div>
        <!--信息查询-->
        <div kendo-window="informationInquiryWindow" id="informationInquiryId" k-title="'信息查询'" k-visible="false" k-modal="true">
            <div style=" width:100%;display: flex">
                <div style="width: 60%;display: flex"></div>
                <div style="width: 40%;font-size: 18px">
                    <div class="infoStyle">用户：{{userName}}</div>
                    <div class="infoStyle">操作时间：{{operationTime}}</div>
                    <div class="infoStyle">操作总量：{{totalOperating}}</div>
                    <div class="infoStyle">操作效率：{{operationalEfficiency}}</div>
                    <div class="infoStyle">目标：{{target}}</div>
                    <div class="infoStyle">达成：{{conclude}}</div>
                    <div class="infoStyle">上一Pick-Pack Wall：{{onARebinCell}}</div>
                    <div class="infoStyle">上一Pod：{{onAPod}}</div>
                    <div class="infoStyle">上一货位：{{onAPallet}}</div>
                </div>
            </div>
        </div>
        <!--确认是否结束拣货-->
        <div kendo-window="isFinishWindows" id="isFinishId" k-title="'请确认是否结束拣货'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:50px;">
                <span style="font-weight: 300;text-align: left;margin-left: 10px">是否确认退出Pick-Pack系统?</span>
            </div>
            <div style="text-align:center;width:100%;margin-top: 100px">
                <kendo-button class="k-primary ReceiptBut" ng-click="exit()">{{'SURE' | translate }}
                </kendo-button>
                <kendo-button class="k-primary ReceiptBut" style="margin-left: 50px" ng-click="notExit()">{{'CANCEL' | translate }}
                </kendo-button>
            </div>
        </div>
        <!--请确认是否结满所有货筐-->
        <div kendo-window="isFullAllBakWindows" id="isFullId" k-title="'请确认是否结满所有货筐'" k-visible="false" k-modal="true">
            <div style="text-align:center;font-size:20px;margin-top:50px;">
                <span style="font-weight: 300;text-align: left;margin-left: 10px">点击确认，所有货筐自动结满，请将货筐放到指定位置</span>
            </div>
            <div style="text-align:center;width:100%;margin-top: 100px">
                <kendo-button class="k-primary ReceiptBut" ng-click="fullAll()">{{'SURE' | translate }}
                </kendo-button>
                <kendo-button class="k-primary ReceiptBut" style="margin-left: 50px" ng-click="notFullAll()">{{'CANCEL' | translate }}
                </kendo-button>
            </div>
        </div>

    </div>
</div>
    <!--请选择拣货模式-->
<div kendo-window="pickStyleWindows" id="pickStyleId" k-title="'请选择拣货模式'" k-visible="false" k-modal="true">
        <div>
            <div style="padding-left:20px;font-size:20px;margin-top:10px;font-weight: 500;">此站台目前已绑定3个拣货车牌，请选择拣货模式</div>
            <table align="center">
                <tr class="title">
                    <td>{{ 'NO' | translate }}</td>
                    <td>{{ 'POSITION_NO' | translate }}</td>
                    <td>{{ 'PICKCAR_NO' | translate }}</td>
                    <td>{{ 'SKU_COUNT' | translate }}</td>
                </tr>
                <tr class="content" ng-repeat="x in storages">
                    <td>{{ x.number }}</td>
                    <td>{{ x.PositionNo }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.sum }}</td>
                </tr>
            </table>
        </div>
        <div style="text-align:center;width:100% ;margin-top:60px;">
            <kendo-button class="k-primary receiptBut" ng-click="continueUse()">{{'CONUTINUE_USE_PICKPACK_NOW' |
                translate }}
            </kendo-button>
            <kendo-button style="margin-left: 10%;" class="k-primary receiptBut" ng-click="reused()">
                {{'FULL_RE_PICKPACK' |
                translate }}
            </kendo-button>
        </div>
    </div>
    <!--扫描报错弹出横条-->
<div class="message" ng-show="messageOperate==='show'">{{message}}</div>
